# PostgreSQL
POSTGRES_USER=docapp
POSTGRES_PASSWORD=secret_pg_pwd
POSTGRES_DB=doc_metadata
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET=company-docs

# Redis
REDIS_PASSWORD=secret_redis_pwd
REDIS_HOST=localhost
REDIS_PORT=6379
